<% include include/header.html %>
<div class="container" data-page="laboratoris">
    <div class="quizzes">
        <% quizzes.forEach(quiz => { %>
          <a href="./quiz?name=<%- quiz.slug %>"><button><%= quiz.title %></button></a>
        <% }) %>
      </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>LABORATORI</th>
                <th>TAG</th>
                <th>Size</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            
            <tr>
                <td>
                    Laboratori 1
                </td>
                <td>
                    Ubuntu
                </td>
                <td>
                    187 MB
                </td>
                <td>
                    <a class="btn btn-danger btn-xs" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..." href="/images/remove/sha256:3b5dea5ad6fed5d3c98264f291b074f22dadf55de713b577cc7468158b22b77a">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </a>
                    
                </td>
            </tr>
            
            <tr>
                <td>
                    redis
                </td>
                <td>
                    latest
                </td>
                <td>
                    116 MB
                </td>
                <td>
                    <a class="btn btn-success btn-xs"
                       data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i> Waiting..."
                       href="/containers/start/">
                        <span class="glyphicon glyphicon-play"></span> Start
                    </a>
                </td>
            </tr>
            

            

            
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <p>...</p>
    </div>
  
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
<% include include/footer.html %>